<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270912958369-62lc7h2tu64p6sugfb7j6do58a9m3kn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270912958369-62lc7h2tu64p6sugfb7j6do58a9m3kn6</string>
	<key>API_KEY</key>
	<string>AIzaSyDu2AJazrnQRLMhaYWNaq8OhY5BiqoyleA</string>
	<key>GCM_SENDER_ID</key>
	<string>270912958369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashazahmed.Ceipt</string>
	<key>PROJECT_ID</key>
	<string>ceipt-ea540</string>
	<key>STORAGE_BUCKET</key>
	<string>ceipt-ea540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270912958369:ios:c46475d09deb0a6dace5e0</string>
</dict>
</plist>